# Server
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=cambia_esta_clave_super_secreta_en_produccion
JWT_EXPIRATION=7d

# SQLite
SQLITE_PATH=./data/hilos.db

# MongoDB - usa Atlas o local
MONGO_URI=mongodb://127.0.0.1:27017/hilos_app
# ejemplo Atlas: mongodb+srv://user:pass@cluster.mongodb.net/hilos_app

# CORS
CORS_ORIGIN=http://localhost:5173
